@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --theme-color: hsl(240, 80%, 63%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--theme-color);
  transition:2s ease-in-out;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.quote-container{
  transition:2s ease-in-out;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background-color: var(--theme-color);
  padding:1.5rem;
  margin:auto;
  width:80%;
  height:50vh;
  border-radius:20px;
  font-family:'Montserrat', sans-serif;
}
.quote-text{
  font-size:1.5rem;
  font-weight:500;
  transition:2s ease-in-out;
}
.App-link {
  color: #61dafb;
}

.author-text{
  padding:10px;
}
button{
  margin:10px;
  background-color: var(--theme-color);
  transition:2s ease-in-out;
  color:white;
  padding:10px;
  border-radius:2px;
  cursor:pointer;
  width:35%;
  border:none;
}
/* cool animation */
button {
	color: #FFF;
	transition: all 0.3s;
  transition:2s ease-in-out;
	position: relative;
}
button span {
	transition: all 0.3s;
}
button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
button:hover span {
	letter-spacing: 2px;
}
button:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
button:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

p a{
  color:white;
  text-decoration: none;
}